<h3>You can change you profile below</h3>

<form role="form" method="post" action="/users/edit">

  <div>
    <label>Username:</label>
    <input type="text" name="users[username]" value="<%= @current_user && @current_user.username %>">
  </div>
  <div>
    <label>First Name:</label>
    <input type="text" name="users[first_name]" value="<%= @current_user && @current_user.first_name %>">
  </div>
  <div>
    <label>Last Name:</label>
    <input type="text" name="users[last_name]" value="<%= @current_user && @current_user.last_name %>">
  </div>
  <div>
    <label>Email:</label>
    <input type="text" name="users[email]" value="<%= @current_user && @current_user.email %>">   
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="users[password]">   
  </div>
  <div>
    <label>Home City/Town:</label>
    <input type="text" name="location[city]" value="<%= @city %>">   
  </div>
  <div>
    <label>Country:</label>
    <input type="text" name="location[country]" value="<%= @country %>">   
  </div>   
  <div>
    <button type="submit" class="btn btn-primary">Sign me up!</button>
  </div>

</form>

